# Ignorer tous les fichiers .log
*.log

# Ignorer tous les fichiers compilés Python
*offers/.pyc
__pycache__/

# Ignorer les dossiers de l’environnement virtuel Python
offers/.venv/
offers/env/

# Ignorer les fichiers de configuration et secrets
offers/.env
offers/.flaskenv
offers/.env.local

# Ignorer les dossiers de build de React
/build

# Ignorer les fichiers de déploiement
offers/.DS_Store
offers/.vscode/
offers/.idea/
offers/.node_modules/