# Ignorer tous les fichiers .log
*.log

# Ignorer tous les fichiers compilés Python
*.pyc
__pycache__/

# Ignorer les dossiers de l’environnement virtuel Python
olympics_back/.venv/
olympics_back/env/

# Ignorer les fichiers de configuration et secrets
olympics_back/.env
olympics_back/.flaskenv
olympics_back/.env.local

# Ignorer les dossiers de build de React
/build

# Ignorer les fichiers de déploiement
.DS_Store
.vscode/
.idea/
.node_modules/.env
